<!--layout.hbs-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <main>
    <div class="container">
      <div class="row justify-content-center">
      <div class="col">
       <p class="centered-text size-text"><h2 class="h2-title-about">Contact me</h2></p>
       <p class"centered-text">
         <h5 class="h5-text-about">Laura Alonso González <br>  <br>laura.alonso.glez93@gmail.com <br> <br> +34 699 61 80 43
      </div>
      <div class="col">
        <div class="media-icons">
            <img class="img-media" src="./images/media_icons_03.png">
            <img class="img-media" src="./images/media_icons_04.png">
            <img class="img-media" src="./images/media_icons_05.png">
          </div>
          <p>
            <h6 class="follow">Follow me!</h6>
          </p>
        </div>
      </div>
      </div>
    </div>
  </main>