 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Porfolio/Home</title>
  <link href="/stylesheets/reset.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Heebo:500|Montserrat|Varela+Round" rel="stylesheet">
  <script src="./js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="./js/bootstrap.js"></script>
</head>
 <body>
   {{{body}}}
 </body>
</html>