<!--layout.hbs-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <header>
    <div class="container">
      <div class="row">
        <div class="col-sm">

          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><h4 class="h4-fontstyle">Laura Alonso <small class="text-muted">Product Designer</small></h4></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/work">Work<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>

    <section class="gallery-block cards-gallery">
 	    <div class="container">
 	        <div class="heading">
 	          <h2 class="h2-title-work">Projects</h2>
 	        </div>
 	        <div class="row">
 	            <div class="col-md-6 col-lg-4">
 	                <div class="card border-0 transform-on-hover">
 	                	<a class="lightbox" href="/project_uxui">
 	                		<img src="./images/adogtapp_portfolio_projects.png" alt="Card Image" class="card-img-top">
 	                	</a>
 	                    <div class="card-body">
 	                        <h6><a href="/project_uxui">Adogtapp</a></h6>
 	                        <p class="text-muted card-text">UX/UI</p>
 	                    </div>
 	                </div>
 	            </div>
 	            <div class="col-md-6 col-lg-4">
 	                <div class="card border-0 transform-on-hover">
 						<a class="lightbox" href="/project_camito">
 		                	<img src="./images/gallery-07.png" alt="Card Image" class="card-img-top">
 		                </a>
 	                    <div class="card-body">
 	                        <h6><a href="#">Camito</a></h6>
 	                        <p class="text-muted card-text">Interactive Toy</p>
 	                    </div>
 	                </div>
 	            </div>
 	            <div class="col-md-6 col-lg-4">
 	                <div class="card border-0 transform-on-hover">
 	                	<a class="lightbox" href="/project_odi">
 	                		<img src="./images/gallery-08.png" alt="Card Image" class="card-img-top">
 	                	</a>
 	                    <div class="card-body">
 	                        <h6><a href="#">La Odisea de la Mente</a></h6>
 	                        <p class="text-muted card-text">Comic/Illustrated Book</p>
 	                    </div>
 	                </div>
 	            </div>

 	        </div>
 	    </div>
     </section>






  </main>